{{#each this.results}}

<li class="movie-gallery-item" data-item="{{id}}">

    <img class="movie-gallery-item-poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        alt="image card movie" />

    <div class="movie-gallery-item-description">
        <h2 class="movie-gallery-item-title">{{original_title}}</h2>
        <div class="movie-gallery-item-box">
            <p class="movie-gallery-item-genre">{{genre_ids}} | {{release_date}}</p>
            <span class="movie-gallery-item-rating">{{vote_average}}</span>
        </div>

    </div>
</li>

{{/each}}