<article class='modal-movie-card'>
  <div class='modal-movie-card-image-wrapper'>
    {{#if poster_path}}
      <img class='modal-movie-poster' src='https://image.tmdb.org/t/p/w300/{{poster_path}}' />
    {{/if}}
  </div>
  <div class='modal-movie-description block-right'>
    <h2 class='modal-movie-title'>{{original_title}}</h2>
    <ul class='modal-movie-details'>
      <li class='modal-card-descriprion-item'>
        Vote / Votes
        <span class='modal-movie-rating'>{{this.vote_average}}</span>
        /
        <span class='modal-movie-votes'>{{this.vote_count}}</span>
      </li>
      <li class='modal-card-descriprion-item'>Popularity <span>{{this.popularity}}</span></li>
      <li class='modal-card-descriprion-item'>Original title
        <span>{{this.original_title}}</span>
      </li>
      <li class='modal-card-descriprion-item'>Genre
        {{#each this.genres}}<span>{{this.name}}</span>{{/each}}
      </li>
    </ul>
    <div class='modal-movie-about'>
      <p class='modal-movie-about-title'>About </p>
      <p class='modal-movie-about-description'>{{overview}}</p>
    </div>
    <div class='modal-btns' id='add-to-library'>
      <button type='button' class='add-to-watched' id='add-to-watched' data-act='{{id}}'>add to
        watched</button>
      <button type='button' class='add-to-queue' id='add-to-queue' data-act='{{id}}'>add to queue</button>
    </div>
    <button type='button' class='modal-button-close'></button>
  </div>
</article>